html {
    height: 100%;
    width: 100%;
  }
  
/* Fondo gris de toda la página */
body {
    background-color: rgb(192, 188, 188);
}

/* Todos los h3 verdes */
h3 {
    color: rgb(81, 124, 81);
}

/* Clase reutilizable: h3 azul */
.h3-azul {
    color: rgb(129, 129, 168);
}

/* Un h3 especifico en rojo */
#h3-rojo {
    color: rgb(161, 104, 104);
}