

  html {
  height: 100%;
  width: 100%;
}

/* Limitar el tamaño de la imagen */
img {
  max-width: 300px;
  display: block;
  margin: 10px 0;
}

/* Estilos de la Tarea 2 */
h1, h2 {
  color: green;
}

.blue {
  color: blue;
}

#red {
  color: red;
}